  <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>关于我们</h2>
            <p><%- theme.about %></p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>联系我们</h2>
            <address class="margin-bottom-40">
              <%= theme.address_1 %><br>
              <%= theme.address_2 %><br>
              <%= theme.address_3 %><br>
              <!--Phone: <%= theme.phone %><br>-->
              QQ Group: <a href="<%= theme.qqgroup %>"><%= theme.qq %></a><br>
              Email: <a href="mailto:<%= theme.email %>"><%= theme.email %></a><br>
            </address>

          </div>
          <!-- END BOTTOM CONTACTS -->

	       <div class="col-md-2 col-sm-6 pre-footer-col">
                     <h2>微信公众号</h2>

          <img style="width:80%" src="/assets/imgs/social/wechat.jpg"> 

         </div>  
         <div class="col-md-2 col-sm-6 pre-footer-col">
                     <h2>微博</h2>

          <img style="width:80%" src="/assets/imgs/social/weibo.png"> 

         </div> 
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10">
                 Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author %> | Based on <a href="https://github.com/ptsteadman/hexo-theme-corporate">Hexo Corporate</a> |  <a href="http://www.miitbeian.gov.cn/">京ICP备09112257号-87</a><br/>中科院开源软件协会镜像站运行于Acer Altos 宏碁服务器 &nbsp · &nbsp;<a href="https://github.com/opencas/siteDeployer">本站源码</a><br>
          </div>
          <!-- END COPYRIGHT -->
        <%- partial('_partial/social') %>
        </div>
      </div>
    </div>
    <!-- END FOOTER -->
