<div class="col-md-12 margin-bottom-40">
  <h2><%- project.title %></h2>
  <hr>
  <div class="col-md-4 col-sm-4">
    <dl class="dl-horizontal">
      <dt>状态</dt>
      <dd><%- project.status %></dd>
      <dt>语言</dt>
      <dd><%- project.language %></dd>
      <dt>版本</dt>
      <dd><%- project.version %></dd>
      <dt>发起人</dt>
      <dd><%- project.author %></dd>
      <dt>发起时间</dt>
      <dd><%- project.time %></dd>
    </dl>
  </div>
  <div class="col-md-8 col-sm-8">
    <dl class="dl-horizontal">
      <dt>介绍</dt>
      <dd><%- project.content %></dd>
      <dt>项目地址</dt>
      <dd><%- project.url %></dd>
      <dt>Issue</dt>
      <dd><%- project.issue %></dd>
    </dl>
  </div>
</div>
